@inherits LayoutComponentBase

<nav class="navbar pb-1">
    <div class="container">
        <a class="navbar-brand">MLSA Badge Maker</a>
        <div class="d-flex">
            <LoginDisplay />
        </div>
    </div>
</nav>

<main class="container py-2" id="main">
    @Body
</main>

<footer class="py-1 container">
    <span class="text-muted small">Developed by <a href="https://linktr.ee/ginomessmer">Gino Messmer</a> &middot; <a href="https://github.com/ginomessmer/mlsa-badge-maker" target="_blank">Source Code</a></span>
</footer>
