@inherits LayoutComponentBase

<nav class="navbar navbar-light bg-light fixed-top mb-5">
    <div class="container">
        <a class="navbar-brand">MLSA Badge Maker</a>
        <div class="d-flex">
            <LoginDisplay />
        </div>
    </div>
</nav>

<main class="container py-4" id="main">
    @Body
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Developed by <a href="https://linktr.ee/ginomessmer">Gino Messmer</a> &middot; <a href="https://github.com/ginomessmer/mlsa-badge-maker" target="_blank">Source Code</a></span>
    </div>
</footer>
