@inherits LayoutComponentBase

<nav class="navbar pb-1">
    <div class="container">
        <a class="navbar-brand">MLSA Badge Maker</a>
        <div class="d-flex">
            <LoginDisplay />
        </div>
    </div>
</nav>

<main class="container py-2" id="main">
    @Body
</main>

<footer class="mt-2 container">
    <p class="text-muted small">
        <span class="float-start">Developed by <a href="https://linktr.ee/ginomessmer">Gino Messmer</a></span>
        <span class="float-end">
            <a href="https://github.com/ginomessmer/mlsa-badge-maker" target="_blank">Source Code</a>
            &middot; <a href="https://github.com/ginomessmer/mlsa-badge-maker/discussions/new" target="_blank">Provide Feedback</a> 
            @*&middot; <a href="" target="_blank">Join the Team</a>*@
        </span>
    </p>
</footer>

<div id="mlsa-lines"></div>