@page "/"
@attribute [Authorize]
@inject BadgeMakerClient _badgeMakerClient


<div class="row align-items-center">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Customize</h5>

                <div class="mt-3">
                    <label for="customImageFile" class="form-label">Use a custom image</label>
                    <InputFile OnChange="@HandleSelected" class="form-control" id="customImageFile"/>
                </div>
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Use</h5>

                <p>Download your new shiny avatar as an image. Alternatively, you can automatically apply your new avatar to your Microsoft Teams account.</p>
                <div>
                    <a class="btn btn-primary" href="@Base64Image" download="mlsa_avatar.png">Download Profile Picture</a>
                    <button class="btn btn-outline-primary" disabled="@string.IsNullOrEmpty(Base64Image)">Apply to Microsoft Teams</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Preview</h5>
                @if (IsLoading)
                {
                    <div class="d-flex align-items-center" style="height: 260px">
                        <div class="spinner-border mx-auto" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                else
                {
                    if (!string.IsNullOrEmpty(Base64Image))
                    {
                        <div class="d-flex justify-content-center align-items-center gap-3 my-3">
                            <img src="@Base64Image" class="img-thumbnail rounded-circle ratio ratio-1x1" style="width: 260px" alt="Profile picture with badge"/>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


@code {

    public string Base64Image { get; set; }

    public bool IsLoading { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await DoWorkAsync(async () => await GenerateDefaultImageAsync());
    }

    private async Task HandleSelected(InputFileChangeEventArgs args)
    {
        await DoWorkAsync(async () => await GenerateCustomImageAsync(args.File));
    }

    private async Task GenerateDefaultImageAsync()
    {
        await using var resultStream = await _badgeMakerClient.CreateBadgeAsync();
        Base64Image = await ConvertImageToBase64(resultStream);
    }

    private async Task GenerateCustomImageAsync(IBrowserFile file)
    {
        await using var resultStream = await _badgeMakerClient.CreateBadgeAsync(file);
        Base64Image = await ConvertImageToBase64(resultStream);
    }

    private async Task DoWorkAsync(Func<Task> action)
    {
        IsLoading = true;
        await action.Invoke();
        IsLoading = false;
    }

    private async Task<string> ConvertImageToBase64(Stream stream)
    {
        stream.Seek(0, SeekOrigin.Begin);
        await using var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);

        return $"data:image/png;base64,{Convert.ToBase64String(memoryStream.ToArray())}";
    }

}
